@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo: #fbfbfb;
    --formulario: #f5f0e1;
    --verde: #9CAF88;
    --footer_onclick: #E0F1D8;
    --hover: #8B6C42;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;

}

body {
    overflow-x: hidden;
    background-color: var(--fundo);
}

/* ------------------- Buscar ------------------- */

.logo-e-buscar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-e-buscar input {

    outline: 2px solid var(--verde);

    height: 40px;
    width: 350px;

    background-color: var(--formulario);
    color: #ababab;

    border: none;
    border-radius: 10px;

    border: none;
    border-radius: 4px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;

    text-transform: uppercase;
    text-indent: 5px;

    cursor: pointer;

    transition: 500ms;
}

.buscar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.buscar svg {
    color: var(--verde);
}

/* ------------------- Menu ------------------- */

.banner {
    background-image: url("./img/banner.png");
    background-repeat: no-repeat;
    background-position: 0 600px;

    height: 120vh;

    display: flex;
    justify-content: space-between;
    background-size: contain;

}

header img {
    width: 375px;
    height: 355px;

}

.menu {
    max-width: 1920px;
    width: 100%;

    text-decoration: underline;

    display: flex;
    justify-content: space-between;
    justify-self: center;


}

.menu a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: bold;

    text-transform: uppercase;

    font-family: "montserrat", sans-serif;
}

.menu a:hover {
    color: var(--hover);
}

/* -------- Menu Hamburguer ------- */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--verde);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--hover);
        display: flex;
        justify-content: end;
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        height: 100vh;

        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--preto);
    }
}

/* ----------------- Sobre ----------------- */

#sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 300px;
    gap: 50px;

    width: 80vw;
    max-width: 1400px;
    margin: 80px auto;

    margin-bottom: 200px;
    flex-wrap: wrap;
}

.mockup img {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    align-items: center;

    height: 100%;
    width: 350px;

    margin-top: 50px;
    margin-left: 230px;
    border-radius: 20px;
    overflow: hidden;
}

.conteudo-sobre {
    max-width: 600px;
    margin-left: -50px;
}

.titulo {
    font-family: "Montserrat", bold;

    font-size: 25px;
    margin-left: 220px;
    margin-bottom: 100px;

    text-decoration: underline;
}

#sobre h2 {
    text-transform: uppercase;
    margin-right: 5px;
}

#sobre p {
    font-family: "Montserrat", light;
    text-transform: uppercase;
    font-size: 23px;
    text-align: justify;
    margin-top: 100px;

    display: flex;
    justify-content: center;
}